section, .section{
  padding: 60px 0; 
  &-blue{
    background-color: $lightBlue;
  }
  &-grey{
    background-color: $whiteGrey;
  }
  @include bp-desktop {
    padding: 100px 0; 
  }
}

.container {
  &{
    padding: 0 11px;
    width: 100%;
    position: relative;
    @include bp-desktop {
      max-width: $container-width;
      margin: 0 auto;
      padding: 0;
    } 
  }

  &__wide{
    @include bp-desktop {
      max-width: $max-width;
    }
  }
}