section, .section{
  padding: 30px 0; 
  &-blue{
    background-color: $lightBlue;
  }
  &-grey{
    background-color: $whiteGrey;
  }
  @include bp-desktop {
  }
}

.container {
  padding: 0 11px;
  width: 100%;
  position: relative;
  @include bp-desktop {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0;
  }
}