{% extends "../layout.njk" %}

{% block body_class %}home{% endblock %}

{% block content %}
<main class="">
  <section class="content-wrapper">
    <h1>Home</h1>
    <a href='/'>go home</a>
  </section>
</main>
{% endblock %}