{% extends "../layout.njk" %}

{% block body_class %}index{% endblock %}

{% block content %}
<main class="">
  <section class="cover">
  	<div class="container">
      <div class="cover-text">
  	    <h1>Hi! I am Coral He.</h1>
    		<p>a Toronto-based Front-End developer.</p>
      </div>
        <div class="cube-x cube-sm cube__primary"></div>
        <div class="cube-y cube-sm cube__secondary"></div>
        <div class="cube-z cube-sm cube__tertiary"></div>
  	</div>
      <div class="fore-ground visual">
        <div class="cube-a cube__primary cube-xl"></div>
        <div class="cube-b cube__primary cube-xl"></div>
      </div>
      <div class="mid-ground visual">
        <div class="cube-c cube__tertiary cube-lg"></div>
        <div class="cube-d cube__tertiary cube-lg"></div>
        <div class="cube-e cube__secondary cube-lg"></div>
      </div>
      <div class="back-ground visual">
        <div class="cube-f cube__secondary cube-md"></div>
      </div>
      <div class="static visual">
        <div class="cube-g cube__primary cube-sm"></div>
        <div class="cube-h cube__primary cube-sm"></div>
      </div>  
  </section>
  <section class="section-blue">
  	<div class="container">
  		<h2>I love bringing engaging web products to life from idea to code. </h2>
  		<h3>What I can do for you: </h3>
  		<div class="row">
  			<div class="one-third column">
  				<p>Map ideas into intuitive digital form</p>
  			</div>
  			<div class="one-third column">
  				<p>Code design components into products in browser</p>
  			</div>
  			<div class="one-third column">
  				<p>Inspire ideas</p>
  			</div>
  		</div>
  	</div>
  </section>
  <section>
  	<div class="container">
  		<h2>Here is some of my work samples:</h2>
  		<div class="project-card">
  			<h3>Project 1: <a href="http://company-cert-frontend.bridgeschoolapp.io/" target="_blank" rel="noopener noreferrer">Company cert app</a></h3>
  			<p>React, Redux, Webpack, Scss, Material-UI, ExpressJs, Firestore</p>
				<a href="https://github.com/bridge-school/company-cert-frontend" target="_blank" rel="noopener noreferrer">github</a>
  		</div>
  		<div class="project-card">
  			<h3>Project 2: TileIcon</h3>
  			<p>React, Webpack, Scss, NodeJs</p>
				<a href="https://github.com/cocoral/Tillicon" target="_blank" rel="noopener noreferrer">github</a>
  		</div>
  	</div>
  </section>
  <section class="section-blue">
    <div class="container">
      <p>Work philosophy</p>
      <p>I strive to push changes to improve what's existing whenever possible, in order to exceed the expectation in a long term. Believer in communication and retrospection: to evaluate changes in small steps, check feedbacks, and make adjustment. </p>
    </div>
  </section>
  <section class="">
  	<div class="container">
  		<h2>My tools:</h2>
      <p><strong>Front end:</strong></p>
  		<div class="row">
  			<div class="two columns">Html5</div>
  			<div class="two columns">Scss/Css3</div>
  			<div class="two columns">Javascript(Vanilla, ES6)</div>
  			<div class="two columns">ReactJS</div>
  			<div class="two columns">Redux</div>
  			<div class="two columns">ExpressJs</div>
  		</div>
      <p><strong>Build tools:</strong></p>
  		<div class="row">
  			<div class="two columns">Webpack</div>
  			<div class="two columns">Gulp/grunt</div>
  			<div class="two columns">Git</div>
  		</div>
      <p><strong>Back end/others:</strong></p>
  		<div class="row">
  			<div class="two columns">Python</div>
  			<div class="two columns">Shell scripting</div>
  		</div>
      <p><strong>Design:</strong></p>
  		<div class="row">
  			<div class="two columns">Photoshop</div>
  			<div class="two columns">Illustrator</div>
  			<div class="two columns">Sketch</div>
  			<div class="two columns">Invision</div>
  		</div>
			<p><strong>Learning: </strong></p>
  		<div class="row">
  			<div class="two columns">NodeJs</div>
  			<div class="two columns">Java</div>
  		</div>
  	</div>
  </section>

  <section class="section-blue">
    <div class="container">
      <p>Prior to Web development, I studied landscape architecture at UofT and thought I’d became a designer for 7 years. I discovered in 2015 that programming is a responsive form of creation and engineer, and quickly became obsessed with it. My first job in tech was acquired in 2016 after my graduation from Hackyou (now Juno college of  technology); till this point,  I’ve been working as a Front-End Developer for more than 3 years. </p>
      <p>Recently i my spare time, I am either working on my certificate of computer applications, taking care of my succulents, or planning out my next life trip.</p>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="one-half column">
          <p>I love hearing new ideas and passion from people! Should you feel like Shoot me a message if you’d like to have a chat with me :D</p>
        </div>
        <div class="one-half column">
          <p>Contact form</p>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <p><small>A footer, 2019.</small></p>
    <p><small>Made by Coral He, Toronto.</small></p>
  </footer>
</main>
{% endblock %}