{% extends "../layout.njk" %}

{% block body_class %}index{% endblock %}

{% block content %}

<main class="">
  <section class="cover">
  	<div class="container">
      <div class="cover-text">
  	    <h1>Hi! I am Coral He.</h1>
    		<p>a Toronto-based Front-End developer.</p>
      </div>
        <div class="rellax cube-x cube-sm cube__primary" data-rellax-speed="-2" style="transform: rotate(45deg);"></div>
        <div class="rellax cube-y cube-sm cube__secondary" data-rellax-speed="-2" style="transform: rotate(45deg);"></div>
        <div class="rellax cube-z cube-sm cube__tertiary" data-rellax-speed="-2" style="transform: rotate(45deg);"></div>
  	</div>
      <div class="fore-ground visual">
        <div class=" rellax cube-a cube__primary cube-xl" data-rellax-speed="7" style="transform: rotate(45deg);"></div>
        <div class=" rellax cube-b cube__primary cube-xl" data-rellax-speed="7" style="transform: rotate(45deg);"></div>
      </div>
      <div class="mid-ground visual">
        <div class="rellax cube-c cube__tertiary cube-lg" data-rellax-speed="4" style="transform: rotate(45deg);"></div>
        <div class="rellax cube-d cube__tertiary cube-lg" data-rellax-speed="4" style="transform: rotate(45deg);"></div>
        <div class="rellax cube-e cube__secondary cube-lg" data-rellax-speed="4" style="transform: rotate(45deg);"></div>
      </div>
      <div class="back-ground visual">
        <div class="cube-f cube__secondary cube-md"></div>
      </div>
      <div class="static visual">
        <div class="rellax cube-g cube__primary cube-sm" data-rellax-speed="-4" style="transform: rotate(45deg);"></div>
        <div class="rellax cube-h cube__primary cube-sm" data-rellax-speed="-4" style="transform: rotate(45deg);"></div>
      </div>  
  </section>

  <section class="section-blue">
  	<div class="container text-center">
  		<h2>I love bringing engaging web products to&nbsp;life&nbsp;from idea to code. </h2>
  		<h3>What I can do for you: </h3>
  		<div class="card-three-row">
  			<div class="card">
          <svg class="svg-icon">
            <use xlink:href="#icon-strategy"></use>
          </svg>
  				<p>Map ideas into intuitive digital form</p>
  			</div>
  			<div class="card">
          <svg class="svg-icon">
            <use xlink:href="#icon-code"></use>
          </svg>
  				<p>Code design components into products in browser</p>
  			</div>
  			<div class="card">
          <svg class="svg-icon">
            <use xlink:href="#icon-idea"></use>
          </svg>
  				<p>Inspire ideas</p>
  			</div>
  		</div>
  	</div>
  </section>
  <section class="section">
    <div class="container">
      <h2>My tools</h2>
      <h3>Front end</h3>
      <div class="row mb-20">
        <p>Html5,
        Scss/Css3,
        Javascript(Vanilla, ES6,
        ReactJS,
        Redux,
        ExpressJs</p>

      </div>
      <h3>Build tools</h3>
      <div class="row mb-20">
        <p>Webpack,
        Gulp/grunt,
        Git</p>

      </div>
      <h3>Back end/others</h3>
      <div class="row mb-20">
        <p>Python,
        Shell scripting</p>

      </div>
      <h3>Design</h3>
      <div class="row mb-20">
        <p>Photoshop,
          Illustrator,
          Sketch,
          Invision</p>
      </div>
      <h3>Learning </h3>
      <div class="row">
        <p>NodeJs,
          Java</p>

      </div>
    </div>
  </section>
  <section class="portfolio section-blue">
  	<div class="container container__wide">
  		<h2>Here is some of my work samples</h2>
  		<div class="row">
        <a href="http://company-cert-frontend.bridgeschoolapp.io/" target="_blank" rel="noopener noreferrer">
          <img class="portfolio-img lazy eight columns" alt="Open toe" src="../../assets/img/portfolio/cert-app-thumb.png" data-src="../../assets/img/portfolio/cert-app.gif" alt="Company certify app screenshot">
        </a>
        <div class="portfolio-text four columns">
    			<a href="http://company-cert-frontend.bridgeschoolapp.io/" target="_blank" rel="noopener noreferrer"><h3>Company Certify App</h3></a>
    			<p>React, Redux, Webpack, Scss, Material-UI, ExpressJs, Firestore</p>
          <p>This project was made when I was in <a href="https://bridgeschool.io/" target="_blank" rel="noopener noreferrer">Bridge school</a>. We formed a team of five, </p>
  				<a class="btn btn-githubg" href="https://github.com/bridge-school/company-cert-frontend" target="_blank" rel="noopener noreferrer">
            <svg class="svg-icon svg-icon__github">
              <use xlink:href="#icon-github"></use>
            </svg>
            <span>View on Github</span>
          </a>
        </div>
  		</div>
  	</div>
  </section>

  <section class="section">
    <div class="container">
      <h2>About me...</h2>
      <p class="deco-left">Prior to Web development, I studied landscape architecture at UofT and thought I’d became a designer for 7 years. I discovered in 2015 that programming is a responsive form of creation and engineer, and quickly became obsessed with it. My first job in tech was acquired in 2016 after my graduation from Hackyou (now Juno college of  technology); till this point,  I’ve been working as a Front-End Developer for 3 years. </p>
      <p class="deco-left">Recently in my spare time, I am either working on my certificate of computer applications, taking care of my succulents, or planning out my next life trip.</p>
<!--       <p>I love hearing new ideas and passion from people! If you feel like have a chat with me, shoot me a message at <a href="mailto:coral.xinting.he@gmail.com">coral.xinting.he@gmail.com</a>.</p> -->
    </div>
  </section>
  <footer>
    <div class="container container__wide row">
      <div class="two-thirds column">
        <p><small>Made with ❤️ by Coral He, Toronto. 2019<br>
          Icons from <a href="https://thenounproject.com/grega.cresnar/" target="_blank" rel="noopener noreferrer">Gregor Cresnar</a>.</small></p>
      </div>
      <div class="one-third column text-right">
        <a class="social-links" href="https://github.com/bridge-school/company-cert-frontend" target="_blank" rel="noopener noreferrer">
            <svg class="svg-icon svg-icon__github">
              <use xlink:href="#icon-github"></use>
            </svg>
          </a>
      </div>
    </div>
  </footer>
</main>
{% endblock %}