<!-- INCLUDED PARTIALS -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello, Coral!</title>
    <link href="./main.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
</head>

<body class="{% block body_class %}{% endblock %}">

		{% include "./components/svg-sprites.njk" %}

    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="./app.bundle.js"></script>
</body>

</html>