<div class="project-card">
	<h3>Project 2: TileIcon</h3>
	<p>React, Webpack, Scss, NodeJs</p>
	<a href="https://github.com/cocoral/Tillicon" target="_blank" rel="noopener noreferrer">github</a>
<div>


	<!--   <section class="section-blue">
    <div class="container">
      <p>Work philosophy</p>
      <p>I strive to push changes to improve what's existing whenever possible, in order to exceed the expectation in a long term. Believer in communication and retrospection: to evaluate changes in small steps, check feedbacks, and make adjustment. </p>
    </div>
  </section> -->



<!--        <div class="two columns"><p>Html5</p></div>
        <div class="two columns"><p>Scss/Css3</p></div>
        <div class="two columns"><p>Javascript(Vanilla, ES6)</p></div>
        <div class="two columns"><p>ReactJS</p></div>
        <div class="two columns"><p>Redux</p></div>
        <div class="two columns"><p>ExpressJs</p></div> -->



<!--         <div class="two columns"><p>Webpack</p></div>
        <div class="two columns"><p>Gulp/grunt</p></div>
        <div class="two columns"><p>Git</p></div> -->


        <!-- 

        <div class="two columns"><p>Python</p></div>
        <div class="two columns"><p>Shell scripting</p></div> -->

        
<!-- 
        <div class="two columns"><p>Photoshop</p></div>
        <div class="two columns"><p>Illustrator</p></div>
        <div class="two columns"><p>Sketch</p></div>
        <div class="two columns"><p>Invision</p></div> -->

  <!-- 
        <div class="two columns"><p>NodeJs</p></div>
        <div class="two columns"><p>Java</p></div> -->


<!--       <p>I love hearing new ideas and passion from people! If you feel like have a chat with me, shoot me a message at <a href="mailto:coral.xinting.he@gmail.com">coral.xinting.he@gmail.com</a>.</p> -->